dataset/gray/
large_scale_results/
large_scale_videos/
tools/methods/RevSCI-net-master/ExtremeCacti_in/
tools/methods/RevSCI-net-master/ExtremeCacti_out/
tools/methods/RevSCI-net-master/model/model/RevSCInet_model_epoch_100.pth
tools/methods/SCI3D-main/ExtremeCacti_in/
tools/methods/SCI3D-main/ExtremeCacti_out/
tools/methods/SCI3D-main/checkpoint/net_200.pth
tools/methods/STFormer-main/checkpoints/stformer_base_mid_color.pth
tools/methods/STFormer-main/checkpoints/stformer_base_real_cr10.pth
tools/methods/STFormer-main/checkpoints/stformer_base.pth
tools/methods/STFormer-main/test_datasets/
tools/methods/STFormer-main/out/
tools/methods/STFormer-main/work_dirs/stformer_base/test_logs/