dataset/
large_scale_results/
large_scale_videos/
large_scale_videos_exp/
large_scale_metrics_results/
test/
tools/methods/RevSCI-net-master/ExtremeCacti_in/
tools/methods/RevSCI-net-master/ExtremeCacti_out/
tools/methods/RevSCI-net-master/model/model/RevSCInet_model_epoch_100.pth
tools/methods/SCI3D-main/ExtremeCacti_in/
tools/methods/SCI3D-main/ExtremeCacti_out/
tools/methods/SCI3D-main/checkpoint/net_200.pth
tools/methods/STFormer-main/checkpoints/stformer_base_mid_color.pth
tools/methods/STFormer-main/checkpoints/stformer_base_real_cr10.pth
tools/methods/STFormer-main/checkpoints/stformer_base.pth
tools/methods/STFormer-main/test_datasets/
tools/methods/STFormer-main/out/
tools/methods/STFormer-main/work_dirs/stformer_base/test_logs/
tools/methods/EDSR-PyTorch-master/experiment/test/
tools/methods/EDSR-PyTorch-master/test/
tools/methods/EDSR-PyTorch-master/models/edsr_baseline_x3-abf2a44e.pt
tools/methods/EDSR-PyTorch-master/models/edsr_baseline_x2-1bc95232.pt
tools/methods/EDSR-PyTorch-master/models/edsr_baseline_x4-6b446fab.pt
tools/methods/DP3LRTC/
tools/methods/VRT-main/testsets/
tools/methods/BasicVSR_PlusPlus/data/in/
tools/methods/VRT-main/model_zoo/vrt/001_VRT_videosr_bi_REDS_6frames.pth
tools/methods/BasicVSR_PlusPlus/weigths/basicvsr_plusplus_reds4.pth
tools/methods/VideoINR-Continuous-Space-Time-Super-Resolution-main/

create_figure_wacci2022.m
experimental.m
figures/
test_files/
*.asv
*.pyc
tools/methods/EDSR-PyTorch-master/models/
